AUContentProvider/bin/
AUContentProvider/gen/
AUContentProvider/.settings/
AUContentProvider/.project
AUContentProvider/.classpath
AUContentProvider/local.properties

AUContentProviderExample/bin/
AUContentProviderExample/gen/
AUContentProviderExample/.settings/
AUContentProviderExample/.project
AUContentProviderExample/.classpath
AUContentProviderExample/local.properties

*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
